In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway,kruskal

In [2]:
# Load each country's cleaned dataset
benin=pd.read_csv("../data/benin_clean.csv")
sierraleone=pd.read_csv("../data/sierraleone_clean.csv")
togo=pd.read_csv("../data/togo_clean.csv")

# Add country column to each 
benin['country']='Benin'
sierraleone['country']='Sierra Leone'  
togo['country']='Togo'

# Combine into one dataframe
df = pd.concat([benin, sierraleone, togo], ignore_index=True)
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,country,Unnamed: 0
0,2021-08-09 00:01,0.0,0.0,0.0,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998.0,0.0,0.0,26.3,26.2,Benin,NaN
1,2021-08-09 00:02,0.0,0.0,0.0,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998.0,0.0,0.0,26.3,26.2,Benin,NaN
2,2021-08-09 00:03,0.0,0.0,0.0,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997.0,0.0,0.0,26.4,26.2,Benin,NaN
3,2021-08-09 00:04,0.0,0.0,0.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997.0,0.0,0.0,26.4,26.3,Benin,NaN
4,2021-08-09 00:05,0.0,0.0,0.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997.0,0.0,0.0,26.4,26.3,Benin,NaN